<%= error_messages_for :company_spirit %>
<% form_for :company_spirit,
  :url => adminpanel_company_spirit_url(@company_spirit),
  :html => { :method => :put } do |f| %>
  <p><%= f.label :body,'内容:' %><br/>
    <%=fckeditor_textarea( "company_spirit", "body", :toolbarSet => 'Simple', :width => '800px', :height => '500px') %></p>

  <p><%= submit_tag '修改' %></p>
<% end -%>


